/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
 
.custom-radio-btn {
  width: 20px; 
  height: 20px; 
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #4268FB;
}

.placeholder-bottom-right::placeholder {
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: gray; 
}
.search-community::placeholder{
  color: #70707066;
}
.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio .radio-indicator {
  height: 20px;
  width: 20px;
  background-color: #777777; 
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.custom-radio .radio-indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white; 
  transform: translate(-50%, -50%);
}

.custom-radio input[type="radio"]:checked + .radio-indicator {
  background-color: #4268FB; 
}

/* community report page  */

.custom-checkbox1 {
  appearance: none;
  -webkit-appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  border: 1px solid #101010;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
  position: relative;
}

/* Custom checkbox style for checked state */
.custom-checkbox1:checked {
  background-color: #4248fb; /* Example color */
  border-color: #101010; /* Example color */
}



